.swap:hover {
    cursor: pointer;
}

.backArrow:hover,
.frontArrow:hover {
    cursor: pointer
}

table {
    overflow: hidden;
}
td {
    padding: 0.5rem;
    background: #fff;    
  }

th {
    background: #f4f4f4;
    padding: 0.5rem;
    border-bottom: 1px solid #aaa9aa;
}

tr:hover {
    cursor: pointer;
}