.listItem {
  justify-content: space-between !important;
  padding: 0 !important;
}  

.listItem h1 {
  margin-bottom: 0 !important;
}
  
.listItemInner {
  padding: 0 !important;
  padding-left: 4px !important;  
}