.logText {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    margin: 0 !important;
}

.checkbox-mui {
    padding: 0 !important
}